<% include partials/extra %>


    <section id="about">

        <div class="us">

            <h2> About Us </h2>

        </div>

        <div class="row">



            <div class="about-box col-lg-4">
                <i class="icon fas fa-heart fa-4x"></i>
                <h3> Why you choose us </h3>
                <p> We cater to all experience level. Don't be shy and see what you are missing. We can train any age
                    level.
                    If
                    you want to have a healthier lifestyle then join us.</p>


            </div>

            <div class="about-box col-lg-4">
                <i class="icon fas fa-check fa-4x"></i>
                <h3> Best Trainers and Yoga Courses </h3>
                <p> We will provide you the best yoga courses which will keep your mind fresh. You can take help from
                    our
                    personal trainers who will provide you more intense workout</p>

            </div>

            <div class="about-box col-lg-4">
                <i class="icon fas fa-dumbbell fa-4x"></i>
                <h3> Equipments for General Fitness</h3>
                <p> If your goal are to improve your overall health and wellness, we have everything you need. We have
                    15+
                    trademills, 8 stepmills, row machines, exercise bikes, spin bikes. We also have stretching areas
                    with
                    mats.
                </p>


            </div>
        </div>

    </section>

    <% include partials/footer %>